# Projeto 1 - Ci√™ncia dos Dados

Nome: Fernando Bichuette Assump√ß√£o

Nome: Felipe Lacombe

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import emoji_list
import re

In [4]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\Fernando\Documents\Insper\3¬∞ Semestre\Ciencia dos Dados\C_Dados_Projeto1

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [5]:
#importando database
dados=pd.read_excel("bolsa.xlsx",'Treinamento')

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

No projeto 1 de Ci√™ncia de dados ser√° feito um clasificador que vai analizar a palavra bolsa em todos os tweets e classificar se √© relevante quando est√° relacionada a **bolsa de valores** e irrelevante quando √© empregada em outro em outro sentido ex: bolsa familia, bolsa utilitaria e etc.

## Limpando database

In [6]:
dados.B1.value_counts()

1    153
0    147
Name: B1, dtype: int64

In [7]:
#fazendo a limpeza do arquivo
def limpar_caracteres(tabela, titulo):
    i = tabela[titulo]
    i = i.str.lower()

    itens = ['.', ':', ';', '"', "'", '?', '(', ')', '[',']',',', '\n', '\t','@','?','%',]
    i2 = ['?', '!']
    emojis = emoji_list.all_emoji
    for emoji in emojis:
        try:
            i = i.str.replace(emoji," {} ".format(emoji) )
        except:
            pass
    for e in itens:
        i = i.str.replace(e,'')
    for e in i2:
        i = i.str.replace(e,' {} '.format(e))

    i = i.str.replace('√©','e')
    i = i.str.replace('√™','e')
    i = i.str.replace('√°','a')
    i = i.str.replace('√£','a')
    i = i.str.replace('√¥','o')
    i = i.str.replace('√≥','o')
    i = i.str.replace('√∫','u')
    i = i.str.replace('√ß','c')
    i = i.str.replace('√≠','i')
    i = i.str.replace('@','')
    i = i.str.replace('?','')
    i = i.str.replace(',','.')
        
    tabela[titulo] = i

    return tabela
titulo="Treinamento"
tabela=limpar_caracteres(dados,titulo)


def split_tweet(tabela, titulo):
    i = tabela[titulo].str.split(' ')

    nova = pd.DataFrame()
    nova['palavras'] = []

    for lista in i:
        for e in ['#','' , ' ', 'rt']:
            while lista.count(e) != 0:
                lista.remove(e)

        for palavra in lista:
            
            if palavra[:4] == 'http':
                lista.remove(palavra)
        nova = nova.append({'palavras': lista}, ignore_index=True)
                
    return nova
nova=split_tweet(dados,titulo)

def tabela_palavras(tabela):
    a = tabela['palavras']
    prob = pd.DataFrame()
    prob['palavras'] = []
    for lista in a:
        for e in lista:
            prob = prob.append({'palavras': e}, ignore_index=True)
    
    return prob['palavras']
dados_palavras=tabela_palavras(nova)
nova.head()

                                            palavras
0  [dolar, cai, a, r$, 4, 6, 4, e, bolsa, avanca,...
1  [albuquerque_af, tradersclubbr, entrei, no, fi...
2  [gente, eu, amo, esses, perfuminhos, da, jequi...
3  [minha, colega, pediu, um, chiclete, fui, proc...
4  [bolsa, cai, dolar, sobe, o, pais, se, desmanc...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [13]:
palavra=dados_palavras.value_counts(True) #probabilidade de sorteio das palavras que possuem a maior ocorrencia no dataframe
palavra.head()

bolsa    0.040958
e        0.033347
a        0.028504
de       0.027812
o        0.019095
Name: palavras, dtype: float64

In [15]:
#Dataframe relevante 
relevantes = dados.loc[(dados['B1'])==1]
relevantes.head()

   B1                                        Treinamento
0   1  dolar cai a r$  4  6  4  e bolsa avanca mais d...
1   1  albuquerque_af tradersclubbr entrei no final d...
4   1  bolsa cai dolar sobe o pais se desmancha  9  3...
6   1  brunosouzasc voce pode me explicar onde esta a...
7   1   üìà  üáß  üá∑   # ultimahora la bolsa de sao paulo ...

In [16]:
#Dataframe irrelevante
irrelevantes = dados.loc[(dados['B1'])==0]
irrelevantes.head()

   B1                                        Treinamento
2   0  gente eu amo esses perfuminhos da jequiti d le...
3   0  minha colega pediu um chiclete fui procurar na...
5   0  em  2  0  2  0  estamos com uma fila enorme no...
8   0  lulaoficial cuidar dos pobres e uma maravilha ...
9   0  uma das minhas maiores certezas na vida era qu...

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**